<header class="bg-white border-b border-gray-200">
    <div class="max-w-5xl mx-auto px-4 h-16 flex items-center justify-between">
        <span class="border p-2 font-bold rounded-2xl text-2xl">
            Minha <span class="text-blue-900 bg-amber-400 p-1 rounded-2xl">Loja</span>
        </span>
    
        <nav class="flex items-center gap-3"  >
            <a href="#" class="px-3 py-2 rounded-2xl hover:bg-gray-300">Home</a>
            <a href="#"  class="px-3 py-2 rounded-2xl hover:bg-gray-300" >Produtos</a>
            <a href="#"  class="px-3 py-2 rounded-2xl hover:bg-gray-300
            ">Sobre</a>
        </nav>

    </div>
   
</header>